[project]
name = "good-agent"
version = "0.2.0"
description = "A Good Agent"
readme = "README.md"
authors = [
    { name = "Chris Goddard", email = "chris@goodkiwi.llc" }
]
requires-python = ">=3.13"
dependencies = []

[build-system]
requires = ["uv_build>=0.8.22,<0.9.0"]
build-backend = "uv_build"
